<iams-card class="realtime-users-widget">
  <iams-card-header class="header" fxLayout="column">
    <iams-card-header-heading>Active Users right now</iams-card-header-heading>

    <div class="value">{{ currentUsers }}</div>
  </iams-card-header>

  <iams-card-content>
    <div class="section">
      <div class="heading">Page views per minute</div>
      <div class="canvas-content">
        <canvas #canvas></canvas>
      </div>
    </div>

    <div class="section">
      <div class="heading">Top Active Pages</div>
      <iams-scrollbar class="pages">
        <div class="page" *ngFor="let page of pages$ | async">
          {{ page.page }}
        </div>
      </iams-scrollbar>
    </div>
  </iams-card-content>
</iams-card>
