<div class="register__page">
  <div class="register__page-left">
    <img src="../../../../assets/Fragomen_IAMS_Logo_Opt6.svg" />
  </div>
  <div class="register__page-right">
    <span>Sign Up</span>
  </div>
  <mat-card class="card border-radius elevation">
    <mat-card-title>Sign up to Fragomen IAMS</mat-card-title>
    <div
      class="padding"
      fxLayout="column"
      fxLayoutGap="16px"
      [formGroup]="form"
    >
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Name</mat-label>
          <input matInput required formControlName="name" />
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>E-Mail</mat-label>
          <input matInput required formControlName="email" />
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="password"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
            matTooltip="Toggle Visibility"
          >
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <mat-label>Password (Confirm)</mat-label>
          <input
            matInput
            [type]="inputType"
            formControlName="passwordConfirm"
            required
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleVisibility()"
            matTooltip="Toggle Visibility"
          >
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-checkbox class="caption"
          >I accept the <a href="#">terms and conditions.</a></mat-checkbox
        >
      </div>
      <button type="button" color="primary" mat-raised-button (click)="send()">
        REGISTER
      </button>
    </div>
  </mat-card>
</div>
