<iams-page-layout mode="card">
  <iams-page-layout-content>
    <iams-card>
      <mat-tab-group>
        <mat-tab label="Main Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Side Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Extra Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Additional Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Another Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="One More Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Definitely the last Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="Whoops another Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
        <mat-tab label="And one last Tab">
          <iams-card-content class="padding-top">
            <iams-page-layout-demo-content></iams-page-layout-demo-content>
          </iams-card-content>
        </mat-tab>
      </mat-tab-group>
    </iams-card>
  </iams-page-layout-content>
</iams-page-layout>
