@import 'var';

.admin {
  display: flex;
  border-bottom: 1px solid rgb(227, 216, 216);

  .admin-btn {
    // min-width: $toolbar-button-width;
    border-radius: 0;
    padding: 5px;
    justify-content: flex-end;
    display: flex;
    border-left: 1px solid rgb(227, 216, 216);

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #0277bd;
    }

    .name {
      margin: 0 8px 0 10px;
    }

    .icon {
      color: #0277bd;
      width: 16px;
      height: 16px;
      font-size: 16px;
      transform: rotate(0);
      transition: transform 0.25s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    &.open {
      background: rgba(0, 0, 0, 0.05);

      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .dropdown {
    position: absolute;
    background-color: whitesmoke;
    border: 1px solid rgb(227, 216, 216);
    top: $toolbar-height;
    right: 0;
    width: fit-content;
    min-width: 156px;
    z-index: 1;
    transform: translateY(-100%);
    visibility: hidden;
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
      visibility 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .list {
      padding-top: $spacing/3;

      .list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        height: 48px;
        padding: 0 $spacing/1.5;
        position: relative;
        cursor: pointer;
        outline: none;

        .list-item-icon {
          padding-right: $spacing/1.5;
        }
      }
    }

    &.open {
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.actions {
  span {
    font-size: small;
    font-weight: bold;
    color: gray;
    margin-right: 5px;
  }
}
