<iams-page-layout>
  <iams-page-layout-content class="padding-0">
    <mat-tab-group>
      <mat-tab label="Main Tab">
        <div class="padding">
          <iams-page-layout-demo-content></iams-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Side Tab">
        <div class="padding">
          <iams-page-layout-demo-content></iams-page-layout-demo-content>
        </div>
      </mat-tab>
      <mat-tab label="Extra Tab">
        <div class="padding">
          <iams-page-layout-demo-content></iams-page-layout-demo-content>
        </div>
      </mat-tab>
    </mat-tab-group>
  </iams-page-layout-content>
</iams-page-layout>
